REACT_APP_KAVA_RPC_URLS=https://evm.kava.io
REACT_APP_KAVA_FALLBACK_PROVIDERS=https://evm2.kava.io
REACT_APP_KAVA_WS=wss://wevm.kava.io
REACT_APP_STATS_API_URL=https://stats.kinetix.finance
REACT_APP_EXPLORER_KAVA_URL=https://kavascan.com/
REACT_APP_API_KAVA_URL=https://api.kinetix.finance/
REACT_APP_CORE_SUBGRAPH=https://api.thegraph.com/subgraphs/name/kinetix/qperp-subgraph
REACT_APP_PRICE_SUBGRAPH=https://api.thegraph.com/subgraphs/name/kinetix/qperp-prices
REACT_APP_REFERRAL_SUBGRAPH=https://api.thegraph.com/subgraphs/name/kinetix/qperp-referral
REACT_APP_JSON_RPC_PROVIDER_URL_FOR_ADDRESS=https://rpc-mainnet.matic.network/
REACT_APP_GAS_API_URL=
REACT_APP_CLOUDINARY_CLOUD_NAME=kinetix
